@import "../../variables.scss";

.block {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0 0 10px 10px;
    align-items: center;
    background: #FFF;
    border-radius: 10px;
    margin-bottom: 40px;
}

.profile {
    img {
        border-radius: 50%;
        border: 2px solid #FFF;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
    }

    .snapButton {
        width: 100%;
    }
}


.weight-container {

    input {
        border-bottom: 1px solid $secondary;
        -webkit-box-shadow: 0 1px 0 0 $secondary;
    }

    input:not([type]):focus:not([readonly]),
    input[type=text]:not(.browser-default):focus:not([readonly]),
    input[type=password]:not(.browser-default):focus:not([readonly]),
    input[type=email]:not(.browser-default):focus:not([readonly]),
    input[type=url]:not(.browser-default):focus:not([readonly]),
    input[type=time]:not(.browser-default):focus:not([readonly]),
    input[type=date]:not(.browser-default):focus:not([readonly]),
    input[type=datetime]:not(.browser-default):focus:not([readonly]),
    input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
    input[type=tel]:not(.browser-default):focus:not([readonly]),
    input[type=number]:not(.browser-default):focus:not([readonly]),
    input[type=search]:not(.browser-default):focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid $primary;
        -webkit-box-shadow: 0 1px 0 0 $primary;
        box-shadow: 0 1px 0 0 $primary;
    }



    .weights {
        display: flex;
        flex-direction: row;
        width: 100%;
        background: lighten(#CCC, 10%);
        flex-wrap: wrap-reverse;
        border-radius: 10px;

        .weight {
            margin: 10px 25px;
            height: 100px;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;

            .weightBar {
                color: #FFF;
                width: 100%;
                background: $secondary;
                display: flex;
                justify-content: center;
            }
        }
    }
}

.reset {
    height: 150px;
    justify-content: center;
}