@import "../../variables.scss";

.nav-wrapper {
  background: #FC466B;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3F5EFB, #FC466B);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  .brand-logo {
    padding: 0 20px !important;

    &:hover {
      cursor: pointer;
    }
  }



  .nav-link {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    background: transparent;
    bordeR: none;
    height: 65px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .active {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}