@import "../../variables.scss";

.workouts {
  background: #CCC;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;

  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    h4 {
      margin: 0;
      margin-right: 20px;
    }

    .change {
      margin-top: 15px;

      a {
        color: $red;

        &:hover {
          cursor: pointer;
        }
      }
    }

  }

  .set {
    background: #FFF;
    margin: 10px 0;
    border-radius: 10px;

    .title {
      text-align: left;
      padding: 10px 50px;
    }

    .reps {
      padding: 10px 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .finishButton {
    margin: 10px 0;
  }
}