@import "../../variables.scss";

.workouts {
  background: #CCC;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;



  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .timer {
      font-size: 2em;
      flex-grow: 1;

      .timer-seconds {
        font-size: .5em;
      }
    }

    h4 {
      margin: 0;
      margin-right: 20px;
      flex-grow: 1;

    }

    .change {
      margin-bottom: 5px;
      flex-grow: 1;
      text-align: right;

      a {
        color: #FFF;
        font-weight: bold;
        padding: 10px;
        text-align: center;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .set {
    background: #FFF;
    margin: 10px 0;
    border-radius: 10px;
    width: 100%;

    .set_heading {
      padding: 30px 50px 10px 50px;
      font-size: 1.5em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }

    .reps {
      padding: 10px 50px 30px 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .finishButton {
    margin-top: 10px;
  }
}