@import "../../variables.scss";



.workouts {

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .set {
    padding: 10px 0;

    .title {
      text-align: left;
      padding: 10px 50px;
    }

    .reps {
      padding: 10px 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .rep {
        width: 50px;
        height: 50px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .explode {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          height: 60px;
          width: 60px;
          border: 5px solid red;
          border-radius: 100%;
          opacity: 1;
          transition: .5s ease-in-out;
          z-index: 0;
        }

        input {
          display: none;
        }

        input:checked~.circleLabel {
          background: red;
          border: 2px solid red;

          .checkmark {
            // animation: dash 5s ease forwards;
            transition: 1s ease;
            stroke-dashoffset: 0;

          }
        }

        input:checked~.explode {
          opacity: 0;
          transform: translate(-50%, -50%) scale(1);
          transition: .5s ease-in-out;
          z-index: 1;
        }



        .circleLabel {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          border: 3px solid #CCC;
          z-index: 10;
          transform: translate(-50%, -50%);
          background: #CCC;

          &:hover {
            cursor: pointer;

          }
        }

        .checkmark {
          width: 25px;
          height: 25px;
          z-index: 3;
          stroke-dasharray: 30px;
          stroke-dashoffset: 30px;
          transition: 1s ease;
          padding-top: 10px;
        }
      }

    }
  }

  .finishButton {
    padding-top: 0px;

    button {
      color: #FFF;
      background: red;
      border: none;
      padding: 15px 30px;
      box-shadow: 0 2px 5px 0 #CCC;
      font-size: 1em;

      &:hover {
        cursor: pointer;

      }
    }
  }
}