@import "../../variables.scss";

.start {
    background: #FFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 40px 80px;


    .title {
        text-align: center;
        font-size: 2em;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 300px;

    }

}