@import "../../variables.scss";

.start {
    background: #FFF;
    border-radius: 10px;
    height: 500px;
    width: 80%;
    position: relative;
    margin: 0 auto;

    .left {
        float: left;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .squat {
            height: 250px;
            width: auto;
        }
    }

    .right {
        float: right;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .title {
            text-align: center;
            font-size: 2em;
            margin-bottom: 50px;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 300px;

            button {
                background: $primary;
                border-radius: 10px;

                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}