@import "../../variables.scss";


.dashboard {
    background: #CCC;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0 0 10px 10px;
    align-items: center;

    .items {

        height: 50px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .title {

            text-align: left;
        }

        .control {
            button {
                border: none;
                padding: 5px 20px;
                border: 2px solid $red;

                &:hover {
                    cursor: pointer;
                }
            }

            .editButton {
                background: #FFF;
                color: black;
            }

            .deleteButton {
                background: $red;
                color: #FFF;
            }
        }

    }
}