.dashboard {
    padding: 20px 40px;

    height: 100%;

    .items {

        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        .title {

            text-align: left;
        }

        .control {
            button {
                border: none;
                padding: 5px 20px;
                border: 2px solid red;

                &:hover {
                    cursor: pointer;
                }
            }

            .editButton {
                background: #FFF;
                color: black;
            }

            .deleteButton {
                background: red;
                color: #FFF;
            }
        }

    }
}