.login {
    // background: #FFF;
    // padding: 50px 100px!important;
    // border-radius: 10px;

    // .loginImg {
    //     background: green;
    // }
    // h3 {
    //     margin-top: 0;
    // }

    // .form-group {
    //     margin: 20px 0;
    // }
}


.login-box {
    height: 100%;
    width: 100%;

    input[type=submit] {
        color: #FFF!important;
        width: 100%;
    }
  }