@import "./variables.scss";

.App {
  font-family: sans-serif;
  text-align: center;
  min-height: 110vh;
  background: linear-gradient($red, #FFF);
  background: $red;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}