@import "./variables.scss";

.App {
  background: #CCC;
  font-family: 'Roboto',
    sans-serif;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

body {
  margin: 0;
}